{% load i18n %}{% autoescape off %}
    {% blocktrans %}Siz {{ site_name }} sahifasida foydalanuvchi hisobingiz parolini oʻzgartirishni soʻraganingiz uchun ushbu xatni oldingiz.{% endblocktrans %}
    
    {% trans "Iltimos, keyingi sahifaga o'ting va yangi parolni tanlang:" %}
    {% block reset_link %}{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uid token %}{% endblock %}

    {% trans "Sizning foydalanuvchi nomingiz, agar unutgan bo'lsangiz:" %} {{ user.get_username }}
    {% trans "Saytimizdan foydalanganingiz uchun tashakkur!" %}
    {% blocktrans %}{{ site_name }} jamoasi{% endblocktrans %}
{% endautoescape %}